/* @import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap"); */

:root {
  --white: #fffdff;
  --black: #3a3a3c;
  --darkblack: #131314;
  --boxSide: 20px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--black);
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 48px;
}

.confetti {
  width: 10px;
  height: 10px;
  background-color: #f00;
  position: absolute;
  animation: confetti 2s ease infinite;
  transform-origin: 50% 50%;
  opacity: 0;
}

#input-container {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  justify-content: center; /* Center the middle column */
  gap: 0.3rem; /* Adjust the gap between columns */
}

#input-container > span,
#input-container > input {
  color: var(--white);
  background: var(--darkblack);
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  line-height: 2.5rem;
  font-weight: 900;
  font-size: 24px;
  border: none;
  caret-color: transparent;
}

#input-container > button {
  background: var(--darkblack);
  color: var(--white);
  font-weight: 900;
  border: none;
  padding: 0 var(--boxSide);
  font-size: 24px;
}

#input-container > span {
  animation: fadeInUp 0.3s ease-out;
}

.logo-green {
  background: #528d4d;
}

.logo-orange {
  background: #b49f3b;
}

#logo-wrapper {
  display: flex;
  align-items: center;
  perspective: 10000px;
  margin: 1.6rem 0 3rem;
}

.cube {
  width: 60px;
  height: 60px;
  position: relative;
  margin-right: 2px;
  transform-style: preserve-3d;
  transform: rotateX(-8deg) rotateY(-16deg); /* Adjusted rotation for 10-degree angle */
}

.face {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  border: 0.1rem solid var(--darkblack);
  border-radius: 4px;
  position: absolute;
  transform-style: preserve-3d;
}

.cube .face:nth-child(1) {
  transform: rotateY(0deg) translateZ(30px);
}
.cube .face:nth-child(2) {
  transform: rotateY(90deg) translateZ(30px);
  box-shadow: inset 30px 100px 12px 2px #0000004e; /* Adjust values as needed */
}
.cube .face:nth-child(3) {
  transform: rotateY(180deg) translateZ(30px);
}
.cube .face:nth-child(4) {
  transform: rotateY(270deg) translateZ(30px);
}
.cube .face:nth-child(5) {
  transform: rotateX(-90deg) translateZ(30px);
}
.cube .face:nth-child(6) {
  transform: rotateX(90deg) translateZ(30px);
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  z-index: 9999; /* Adjust the z-index as needed */
  font-size: 48px;
  pointer-events: none;
}

#loading-screen-logo {
  margin-top: 4rem;
  display: flex;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  margin: 0;
  padding: 0;
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(90vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#loading-screen-logo > div {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  animation: slide 0.3s linear;
}

#loading-screen-logo > div:nth-child(1) {
  animation-delay: 0s;
}

#loading-screen-logo > div:nth-child(2) {
  animation-delay: 0.1s;
}

#loading-screen-logo > div:nth-child(3) {
  animation-delay: 0.2s;
}

#loading-screen-logo > div:nth-child(4) {
  animation-delay: 0.3s;
}

#loading-screen-logo > div:nth-child(5) {
  animation-delay: 0.35s;
}

#loading-screen-logo > div:nth-child(6) {
  animation-delay: 0.5s;
}

#loading-screen-logo > div:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes slide {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
