@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Roboto:wght@100;300&display=swap");

:root {
  --white: #fffdff;
  --black: #3a3a3c;
  --boxSide: 20px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  background: var(--black);
  font-family: "Roboto", sans-serif;
}

#input-container {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  justify-content: center; /* Center the middle column */
  gap: 10px; /* Adjust the gap between columns */
}

#input-container > span,
#input-container > input {
  color: var(--white);
  background: #131314;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  line-height: 2.5rem;
  font-weight: 900;
}

#input-container > button {
}

#input-container > input {
  caret-color: transparent;
}

#input-container > span {
  animation: fadeInUp 0.5s ease-out; /* Adjust the duration and timing function as needed */
}

@keyframes fadeInUp {
  0% {
    opacity: 0; /* Start with 0% opacity */
    transform: translateY(20px); /* Start 20px below its final position */
  }
  100% {
    opacity: 1; /* End with 100% opacity */
    transform: translateY(0); /* End at its final position */
  }
}
