@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Roboto:wght@100;300&display=swap");

:root {
  --white: #fffdff;
  --black: #3a3a3c;
  --boxSide: 20px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  background: var(--black);
  font-family: "Roboto", sans-serif;
}

.confetti {
  width: 10px;
  height: 10px;
  background-color: #f00;
  position: absolute;
  animation: confetti 2s ease infinite;
  transform-origin: 50% 50%;
  opacity: 0;
}

#input-container {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  justify-content: center; /* Center the middle column */
  gap: 10px; /* Adjust the gap between columns */
}

#input-container > span,
#input-container > input {
  color: var(--white);
  background: #131314;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  line-height: 2.5rem;
  font-weight: 900;
  font-size: 24px;
}

#input-container > button {
}

#input-container > input {
  caret-color: transparent;
}

#input-container > span {
  animation: fadeInUp 0.3s ease-out;
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(90vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
